yfinance
pandas
matplotlib
scikit-learn
statsmodels
plotly
datetime
reportlab
streamlit
datetime
kaleido
seaborn
pyperclip
openai
langchain
python-decouple
streamlit-chat
requests
yahoo_fin
scipy
numpy=1.21.6
pmdarima=1.8.2


