streamlit>=1.30,<2
altair>=5,<7

yfinance
pandas
matplotlib
scikit-learn
statsmodels
plotly
kaleido
seaborn
pyperclip
openai
langchain
python-decouple
streamlit-chat
requests
yahoo_fin
scipy
numpy
pmdarima
beautifulsoup4
streamlit-aggrid
selenium
webdriver-manager
python-dateutil
xlsxwriter
fpdf2
pymupdf
